# Database Configuration
DATABASE_URL="postgresql://postgres:Bpx2fQWrVxEyAat9UokmNd9bzKKqhfFv@supabasenewsletter.oncewerehumans.com:5432/postgres?schema=public"
DIRECT_DATABASE_URL="postgresql://postgres:Bpx2fQWrVxEyAat9UokmNd9bzKKqhfFv@supabasenewsletter.oncewerehumans.com:5432/postgres?schema=public"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://supabasenewsletter.oncewerehumans.com
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4NjY1MzYwMCwiZXhwIjo0OTQyMzI3MjAwLCJyb2xlIjoiYW5vbiJ9.rmFjH04D-eYhVWMW7zEMHpYCRXapHQqocx3yf4CJu90
SUPABASE_URL=https://supabasenewsletter.oncewerehumans.com
SUPABASE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4NjY1MzYwMCwiZXhwIjo0OTQyMzI3MjAwLCJyb2xlIjoiYW5vbiJ9.rmFjH04D-eYhVWMW7zEMHpYCRXapHQqocx3yf4CJu90

# Email Inbox Configuration (IMAP)
EMAIL_USER=hello@newsletterzilla.online
EMAIL_PASS=10Digitpin%%
IMAP_SERVER=imap.buzondecorreo.com
IMAP_PORT=993
SMTP_SERVER=smtp.buzondecorreo.com
SMTP_PORT=465

# AWS S3 Storage Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=eu-central-1

# AI API Keys
GOOGLE_AI_STUDIO_API=
BARD_API_KEY=
DEEPSEEK_API=
ANTHROPIC_API=
TOGETHER_API_KEY=
HUGGINGFACE_API_KEY=
