# Database Configuration
DATABASE_URL="postgresql://postgres:Bpx2fQWrVxEyAat9UokmNd9bzKKqhfFv@supabasenewsletter.oncewerehumans.com:5432/postgres?schema=public"
DIRECT_DATABASE_URL="postgresql://postgres:Bpx2fQWrVxEyAat9UokmNd9bzKKqhfFv@supabasenewsletter.oncewerehumans.com:5432/postgres?schema=public"
DATABASE_URL_POOLED="postgresql://postgres:Bpx2fQWrVxEyAat9UokmNd9bzKKqhfFv@supabasenewsletter.oncewerehumans.com:5432/postgres?schema=public"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://supabasenewsletter.oncewerehumans.com
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4NjY1MzYwMCwiZXhwIjo0OTQyMzI3MjAwLCJyb2xlIjoiYW5vbiJ9.rmFjH04D-eYhVWMW7zEMHpYCRXapHQqocx3yf4CJu90
SUPABASE_URL=https://supabasenewsletter.oncewerehumans.com
SUPABASE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4NjY1MzYwMCwiZXhwIjo0OTQyMzI3MjAwLCJyb2xlIjoiYW5vbiJ9.rmFjH04D-eYhVWMW7zEMHpYCRXapHQqocx3yf4CJu90
SUPABASE_STORAGE_BUCKET=newsletters

# Email Inbox Configuration (IMAP & SMTP)
EMAIL_USER=hello@newsletterzilla.online
EMAIL_PASS=
IMAP_SERVER=imap.buzondecorreo.com
IMAP_PORT=993
SMTP_SERVER=smtp.buzondecorreo.com
SMTP_PORT=465

# AI / LLM API Keys
OPENROUTER_API_KEY=
GOOGLE_AI_STUDIO_API=
BARD_API_KEY=
DEEPSEEK_API=
ANTHROPIC_API=
TOGETHER_API_KEY=
HUGGINGFACE_API_KEY=

# App Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXTAUTH_SECRET=development_secret_321_next_auth
NEXTAUTH_URL=http://localhost:3000
